* {
    margin:0px;
}

.table {
    display: table;
}

.cell {
    display: table-cell;
}

.row {
    display: table-row;
}

body {
    background-image: linear-gradient(purple, purple, black);
}

.container {
    display:grid;
    height:100vh;
    grid-template-columns: 0.5fr 520px 0.5fr;
    grid-template-rows: 0.1fr 0.8fr 0.2fr 0.1fr ;
    grid-template-areas:
    "nav nav nav"
    "sidebar1 main sidebar2"
    "sidebar1 content1 sidebar2"
    "footer footer footer";   
    grid-gap: 0.2rem;
}

nav {
    background-image: linear-gradient(darkblue, purple);
    grid-area:nav;

    font-family: sans-serif;
    color: goldenrod;
    text-shadow: 2px 2px 5px hotpink;
    

    padding-top: 5%;
    
}

#navTable {
    width: 100%;
}

#navCell {
    width:16%;
}

#Reviews {
    width: 100%;

    text-align: center;
    
}

#Reviews:hover {
    transform: scale(1.1);
}

#AddReview {
    width: 100%;
    text-align: center;
    
}

#AddReview:hover {
    transform: scale(1.1);
}

main {
    padding: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color:cornflowerblue;
    grid-area:main;
    background-image: radial-gradient(purple, darkblue, black);

    
}

#appNameText {
    color: orange;
    text-shadow: 3px 3px 5px purple;
}

#movieReviewsText {
    color: plum;
    text-shadow: 3px 3px 5px black;
}

#rateYourFavoriteMoviesText {
    color:plum;
    text-shadow: 3px 3px 5px black;
}

#moviePosterHolder {
    
    border: 1px solid white;
}

#moviePoster {
    width: 50%;
    height: 50%;
    border: orange 5px solid;
    box-shadow: 5px 5px 10px black;
}

#moviePoster:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px orchid;
}
footer {
    background-color: black;
    grid-area:footer;

    
}

#content1 {
    text-align: center;
    background-image:linear-gradient(darkblue, black);
    grid-area:content1;
}

#reviewThisMovieText {
    font-family: sans-serif;
    color: plum;
}

#reviewMovieButton {
    color:orange;
    border:orchid 3px solid;
    border-radius: 10px;
    background-image: linear-gradient(plum, purple);
}

#reviewMovieButton:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px orchid;
}

#topRatedMovies {
    color:plum;
    text-shadow: 3px 3px 5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 1rem;      /* padding-top */
    background-image: linear-gradient(purple, darkblue, black);
    
    grid-area:sidebar1;

    border: 1px plum solid;
    border-radius:30px;
}

#popcornImage {
    align-content: bottom;
    border:orange solid 2px;
    border-radius: 15px;
}

#popcornImage:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px orchid;
}

#sidebar2 {
    color:plum;
    text-shadow: 3px 3px 5px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 1rem;      /* padding-top */
    background-image: linear-gradient(purple, darkblue, black);

    grid-area:sidebar2;

    border: 1px plum solid;
    border-radius:30px;
}

@media only screen and (max-width:850px) {
    .container {
        grid-template-columns:1fr;
        grid-template-rows: 10% 100% 40% 30% 30% 10%; /* fr units did not work? */
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "sidebar1"
        "sidebar2"
        "footer";
    }

    #moviePosterHolder {
        width: 100%;
        
        border: 1px solid white;        
    }

    #moviePoster {  /* gives images proper scale on mobile */
        width:60%;
        height:auto;

        scale:10%;
    }

    #navCell {
        width:1%;   /* gives navbar items extra room on mobile */
    }



}